<template>
  <div class="home">
   <b-form-input v-model="input"></b-form-input>

    <my-message :your-name="input"></my-message>
  </div>
</template>

<script>

// eslint-disable-next-line import/extensions
import MyMessage from '@/components/MyMessage';

export default {
  name: 'Home',
  components: {
    MyMessage,
  },
  data() {
    return {
      input: '',
    };
  },
};
</script>
