<template>
  <div>
    <todo-item @AddTodo="AddTodo"/>
    <todo-list :todos="todos"/>
  </div>
</template>

<script>
// コンポーネント読み込み
import TodoItem from '@/components/ToDoItem.vue';
import TodoList from '@/components/ToDolist.vue';

export default {
  name: 'Todo',
  components: {
    TodoItem,
    TodoList,
  },
  data() {
    return {
      todos: [],
    };
  },
  methods: {
    AddTodo(value) {
      if (value) {
        this.todos.unshift({ text: value });
      }
    },
  },
};
</script>
