<template>
  <div id="app">
    <div class="offset-3 col-6">
      <div class="card">
        <div class="card-body">
          <p > APEXのことどのくらい知ってるかな？ </p>
          <p class="badge badge-dark">第 {{ questionIndex + 1 }} 問</p>
          <br />
          <h4 class="card-title">{{ currentQuestion.question }}</h4>
          <hr />
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block text-left"
            v-for="(answer, index) in currentQuestion.answers"
            v-bind:key="index"
            @click="addAnswer(index);"
          >
            {{ index + 1 }}. {{ answer }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      answers: [],
      questionIndex: 0,
      questions: [
        {
          question: 'ダイブ起動はどのランク対でもらえる？',
          answers: ['プラチナ', 'ゴールド', 'ダイヤ'],
          answer: 2,
        },
        {
          question:
            'APEXはいつ配信開始した？',
          answers: ['2019年4月28日', '2019年2月4日', '2020年1月12日'],
          answer: 1,
        },
        {
          question: 'レイスの虚空状態以降までの時間は？(シーズン9での）',
          answers: ['1.25秒', '1秒', '0.85秒'],
          answer: 0,
        },
        {
          question: '調査ビーコンを見れるキャラは何人いる？',
          answers: ['5', '3', '4'],
          answer: 2,
        },
      ],
    };
  },
  methods: {
    addAnswer(index) {
      this.answers.push(index);

      // eslint-disable-next-line eqeqeq
      if (this.questions.length == this.answers.length) {
        let correctCount = 0;

        // eslint-disable-next-line guard-for-in,no-restricted-syntax
        for (const i in this.answers) {
          const answer = this.answers[i];

          // eslint-disable-next-line eqeqeq
          if (answer == this.questions[i].answer) {
            // eslint-disable-next-line no-plusplus
            correctCount++;
          }
        }

        alert(`4問中 ${correctCount}問正解です！`);
      } else {
        // eslint-disable-next-line no-plusplus
        this.questionIndex++;
      }
    },
  },
  computed: {
    currentQuestion() {
      return this.questions[this.questionIndex];
    },
  },
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
