<template>
  <b-container>
    <b-input-group>
      <b-form-input type="text" v-model="value" v-on:keydown.enter="ListAddTodo"/>
      <b-input-group-append>
        <b-button variant="primary" @click="ListAddTodo()">追加</b-button>
      </b-input-group-append>
    </b-input-group>
  </b-container>
</template>

<script>
export default {
  name: 'TodoItem',
  data() {
    return {
      value: '',
    };
  },
  methods: {
    ListAddTodo() {
      this.$emit('AddTodo', this.value);
      this.value = '';
    },
  },
};
</script>
