<template>
  <b-container>
    <b-form type="text" :key="index" v-for="(todo, index) in todos">
      <b-list-group>
        <b-list-group-item>{{ todo.text }}</b-list-group-item>
      </b-list-group>
    </b-form>
  </b-container>
</template>

<script>
export default {
  name: 'TodoList',
  props: ['todos'],
  methods: {},
};
</script>
