<template>
  <div id="app">
    <b-navbar  type="dark" variant="primary">

      <b-navbar-brand to="/">My site</b-navbar-brand>

      <b-navbar-nav>
        <b-nav-item to="/todo" :active="$route.name === 'todo' ">todo</b-nav-item>
        <b-nav-item to="/about" :active="$route.name === 'About' ">About</b-nav-item>
      </b-navbar-nav>
    </b-navbar>

    <router-view/>
  </div>
</template>

<style lang="scss">

</style>
